@font-face {
    font-family: cheeseburga;
    src: url('./assets/fonts/CHEESEBURGA\ demo.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: kumbh-sans;
    src: url('./assets/fonts/KumbhSans-VariableFont_YOPQwght.ttf');
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#ind1
{
    height: 100vh;
    width: 100vw;
}

.cover_page
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    align-items: center;
}

.background
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url('./assets/images/coverpage.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.content
{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button_area
{
    background-color: #FFC700;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}

iframe
{
    border: none;
    height:5vw;
    width: 98vw;
    overflow: hidden;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    z-index: 2;
    transition: height 1s;
    background-color: white;
    bottom: 0;
}

.title_area
{
    margin-top: 3vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    transition: transform 1s;
    font-size: 1em;
}

#title
{
    background: linear-gradient( #FFF280, #7EFF5E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cheeseburga;
    font-weight: 200;
    font-size: 4.5em;
    grid-row: 1/2;
    grid-column: 1/2;
}

#title2
{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 4.5em;
    font-family: cheeseburga;
    font-weight: 200;
    text-shadow: 
      -0.06em -0.06em 0 #0F1B29, 
      0.06em -0.06em 0 #0F1B29, 
      -0.06em 0.06em 0 #0F1B29, 
      0.06em 0.06em 0 #0F1B29, 
      0.8rem 0.8rem rgba(15, 26, 41, 1);
}

.description
{
    position: absolute;
    text-align: center;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.3em;
    width: 100%;
    color: white;
    background-color: #181C27;
    font-family: cheeseburga;
    font-weight: 200;
    margin-top: 65vh;
}

.yellow_styling
{
    background: linear-gradient( #FFF280, #FFA800);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_content
{
    width: 100%;
}

.yellow_rectangle
{
    position: absolute;
    z-index: -2;
    width: 100%;
    background: radial-gradient(49% 44.19% at 50.14% 55.33%, #FFF280 0%, #FFC700 100%);
}

.yellow_rectangle_1
{
    aspect-ratio: 10/7;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.yellow_rectangle_2
{
    margin-top: 15vw;
    aspect-ratio: 30/31;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
    background: radial-gradient(40% 40.19% at 50.14% 40.33%, #FFF280 0%, #FFC700 100%);;
}

.yellow_rectangle_2.y2
{
    margin-top: 0;
}

.yellow_rectangle_2.y3
{
    margin-top: 93vw;
}

.history
{
    display: flex;
}

.history .img
{
    margin-left: 2vw;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 50vw;
    margin-top: 14vw;
}

.history .img1
{
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 50vw;
    aspect-ratio: 8/7;
    object-fit: contain;
}

.history .img2
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 50vw;
    aspect-ratio: 8/7;
    object-fit: contain;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    filter: grayscale(100%) blur(0.2vw);
    z-index: -1;
}

.historytext
{
    padding-right:5vw;
    padding-top: 2vw;
}

.historytext h2:first-child
{
    font-family: montserrat;
    color:#f76802d1;
    text-align: right;
    font-weight: 900;
    font-size: 5.4vw;
}

.historytext h2:last-of-type
{
    font-family: cheeseburga;
    font-weight: 200;
    color:white;
    text-align: right;
    font-size: 12vw;
}

.historytext p
{
    font-family: kumbh-sans;
    color: #353535;
    text-align: right;
    font-weight: bold;
    font-size: 2.5vw;
}

.open_main
{
    width: 14vw;
    margin-top: 1vw;
    background-color: #FFF6A1;
    height: 1.5vw;
    border-radius: 2vw;
    border: none;
}

.selection
{
    margin-top: 8vw;
    font-family: montserrat;
    font-weight: 900;
    font-size: 2vw;
    color: #353535;
    display: flex;
    gap:3vw;
    justify-content: center;
}

.selection p:nth-child(2)
{
    color: #FFA800;
}

.photos
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin-left: 2vw;
    width: 90vw;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .slider-container {
    width: 90vw;
    padding:20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25vw 25vw 25vw 25vw 25vw 25vw;
    gap: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: transform 0.3s;
  }
  
  .slider-container div {
    width: 25vw;
    aspect-ratio: 3/2;
    flex-shrink: 0;
    background-color: #A6A6A6;
    font-family: montserrat;
    font-weight: 900;
    font-size: 2vw;
    text-align: center;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-btn,.gamemove{
    background-color: #353535;
    color: white;
    border: none;
    height: 8vw;
    aspect-ratio: 2/3;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 2vw #000000c5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .decorslidebtn{
    height: 8vw;
    aspect-ratio: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-btn:active
  {
    height: 7vw;
  }

  .slide-btn svg,.gamemove svg
  {
    width: 100%;
    height: auto;
  }

  .slider-container div:hover
  {
    outline: 5px solid #353535;
  }

.vision_title
{
    margin-top: 10vw;
    color:#FFA800;
    font-size: 12vw;
    text-align: center;
    font-family: cheeseburga;
    font-weight: 200;
    margin-bottom: 3vw;
}

.vision .img
{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.vision .img1
{
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 95vw;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.vision .img2
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 95vw;
    aspect-ratio: 16/9;
    object-fit: contain;
    -webkit-box-reflect: below -10vw linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    filter: grayscale(100%) blur(0.2vw);
    z-index: -1;
}

.vision p
{
    margin-top: 6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    color:#353535;
    font-family:kumbh-sans;
    font-weight: bold;
    font-size: 2.7vw;
    line-height: 110%;
}

.roadmap_title
{
    padding-left: 6vw;
    font-family: cheeseburga;
    font-weight: 200;
    font-size: 12vw;
    color: white;
}

.roadmap_text
{
    width: 90%;
    padding-left: 7vw;
    font-family: kumbh-sans;
    font-weight: bold;
    font-size: 2.6vw;
    color:#353535;
    padding-bottom: 7vw;
}

.roadmap_text p:last-child
{
    color: #FFA800;
}

.roadmap
{
    margin-top: 12vw;
    width: 100%;
    height: 65vw;
    display: flex;
    flex-direction: column;
}

.roadmap2
{
    margin-top: 10vw;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.roadmap .img
{
    padding-right: 1vw;
    display: grid;
    width: 110%;
    align-items: center;
    justify-content: center;
}

.roadmap .img1
{
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.roadmap .img2
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    -webkit-box-reflect: below -3vw linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    filter: grayscale(100%) blur(0.1vw);
    z-index: -1;
}

.photo_collage
{
    width: 100%;
    margin-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    gap:1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.collage.c1
{
    grid-row: 1/2;
    grid-column: 1/2;
    border-top-left-radius: 3vw;
    background: linear-gradient(#DBC70C,#fff28000);
}

.c1w
{
    grid-row: 1/2;
    grid-column: 1/2;
}

.collage.c2
{
    grid-row: 1/2;
    grid-column: 2/3;
    background: linear-gradient(#00D4D4,#41FFFF00);
}

.c2w
{
    grid-row: 1/2;
    grid-column: 2/3;
}

.collage.c3
{
    grid-row: 1/2;
    grid-column: 3/4;
    background: linear-gradient(#D427FF,#D427FF00);
}

.c3w
{
    grid-row: 1/2;
    grid-column: 3/4;
}

.c3w,.c1w,.c2w,.c4w
{
    margin-top: 19vw;
    z-index: 2;
    background: linear-gradient(#ffffff00,#ffffff);
}

.collage.c4
{
    grid-row: 1/2;
    grid-column: 4/5;
    border-top-right-radius: 3vw;
    background: linear-gradient(#8F3A3C,#8F3A3C00);
}

.c4w
{
    grid-row: 1/2;
    grid-column: 4/5;
}

.collage
{
    width: 100%;
    aspect-ratio: 10/19;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collage img
{
    height: auto;
    width: 95%;
    margin-bottom: 3vw;
}

.collage .txt
{
    margin-top: 1.5vw;
    color: #ffffff;
    font-family: montserrat;
    text-align: center;
}

.collage h4
{
    font-weight: 900;
    font-size: 2.3vw;
}

.collage h5
{
    font-weight: 900;
    font-size: 1.8vw;
}

.collage.c2 h4
{
    font-weight: 900;
    font-size: 2.8vw;
}

.collage.c2 h5
{
    font-weight: 900;
    font-size: 2.1vw;
}

.tokenomics .img
{
    margin-right: 3vw;
    display: grid;
    width: 46%;
    align-items: center;
    justify-content: center;
}

.tokenomics .img1
{
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: contain;
}

.tokenomics .img2
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: contain;
    -webkit-box-reflect: below -3vw linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    filter: grayscale(100%) blur(0.1vw);
    z-index: -1;
}

.tokenomics
{
    width: 100%;
    margin-top: 14vw;
}

.tokenomics h2
{
    font-size: 12vw;
    font-family: cheeseburga;
    font-weight: 200;
    color: white;
    padding-left: 3.5vw;
}

.buttons
{
    margin-top: 10vw;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    width: 38%;
}

.bgte span
{
    font-size: 2vw;
    font-family: montserrat;
    color:#ffffff;
    font-weight: 900;
}

.bgte p
{
    font-size: 4vw;
    font-family: montserrat;
    color:#FFF280;
    font-weight: 900;
}

.bgte
{
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
    border-radius: 2vw;
    box-shadow: 1vw 1.5vw 2vw #956300;
    width:100%;
    aspect-ratio: 177/50;
}

.toke2
{
    display: flex;
    justify-content: space-between;
}

.merch
{
    margin-top: 21vw;
    width: 100%;
}

.merch h2
{
    width: 100%;
    text-align: center;
    color: #FFA800;
    font-family: cheeseburga;
    font-weight: 200;
    font-size: 12vw;
    height: 20vw;
}

.merch_slider
{
    margin-top: 13vw;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merch_slider_container
{
    border-radius: 1.5vw;
    width: 92vw;
    aspect-ratio: 153/100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.merch_overlay
{
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 3;
    display: grid;
    grid-template-rows: 21fr 29fr;
}

.merchs
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 300%;
    z-index:2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    transition: transform 1s;
    transform: translateX(-92vw);
}

.merchs img
{
    height: 98%;
    width: auto;
}

.merchs div
{
    height: 100%;
}

.merchbg
{
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.merchbg div
{
    grid-row: 1/2;
    grid-column: 1/2;
    transition: opacity 0.5s;
}

.merch_overlay .row1 span
{
    font-size: 2vw;
    font-family: montserrat;
    font-weight: 900;
    color: #353535;
    width: 100%;
    text-align: right;
    padding-top: 10vw;
    padding-right: 9vw;
    display: block;
}

.merch_overlay .row2
{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

.merch img
{
    width: 100%;
    height: auto;
}

.merchleft,.merchright
{
    padding: 0.5vw;
    height: 5.5vw;
    width: 5.5vw;
    border-radius: 100vw;
    border: none;
    background-color: white;
    color:#575472;
}

.merch svg
{
    height: 100%;
    width: 100%;
}

.games
{
    margin-top: 12vw;
    width: 100%;
}

.games h2
{
    font-family: cheeseburga;
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 12vw;
}

.games p
{
    font-family: montserrat;
    font-weight: 900;
    text-align: center;
    color: #353535;
    font-size: 3.5vw;
}

.game-slider
{
    margin-top: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-slider-container
{
    aspect-ratio: 178/100;
    width: 94vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.game-slider-container div
{
    grid-row: 1/2;
    grid-column: 1/2;
}

.gameimage
{
    width: 200%;
    height: 100%;
    z-index:0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 94vw 94vw;
    transition: transform 0.5s;
}

.gameimage img
{
    width: 94vw;
    height: auto;
}

.gameoverlay
{
    display: grid;
    width: 94vw;
    aspect-ratio: 178/100;
    grid-template-rows: 59fr 41fr;
    z-index: 1;
}

.gamemove
{
    z-index: 1;
    height: 9vw;
    aspect-ratio: 3/4;
    border-radius: 2vw;
}

.decorgamemove
{
    z-index: 1;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 3vw;
    height: 9vw;
    aspect-ratio: 3/4;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamemove:active
{
    height: 8vw;
}

.discover
{
    z-index: 1;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 7vw;
    background-color: #843AFC;
    border-radius: 100vw;
    height: 6vw;
    aspect-ratio: 413/100;
    box-shadow: 1vw 1vw 1vw #000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:1.1vw;
    padding-right: 0.8vw;
    transition: background-color 0.5s;
}

.discover span
{
    font-family: montserrat;
    font-weight: 900;
    color: white;
    font-size: 2.2vw;
}

.discover svg
{
    height: 100%;
    width: auto;
}

.previews
{
    width: 100%;
    margin-top: 5vw;
}

.previews h3
{
    padding-left: 3vw;
    font-size: 3.5vw;
    color: #353535;
    font-family: montserrat;
    font-weight: 900;
    margin-bottom: 2vw;
}

.previews span
{
    color: #FFA800;
}

.preview_area
{
    width: 100%;
    display: flex;
    padding-left: 3vw;
    align-items: center;
    gap: 1vw;
}

.previewimages
{
    display: flex;
    gap:2.5vw;
    height: 27vw;
}

.previewimages img
{
    height: 100%;
    width: auto;
}

.decorprev
{
    width: 6vw;
    aspect-ratio: 3/4;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview_area button
{
    background-color: #353535;
    color: white;
    border: none;
    width: 6vw;
    aspect-ratio: 3/4;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw #000000c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview_area button svg
{
    height: 100%;
    width: auto;
}

.preview_area button:active
{
    width: 5vw;
}

.end
{
    margin-top: 10vw;
    width: 100%;
    margin-bottom: 30vw;
}

.end h2
{
    font-family: cheeseburga;
    font-weight: 200;
    color:#FFA800;
    font-size: 11vw;
    padding-left: 4vw;
}

.endcontent
{
    display: flex;
    width: 100%;
}

.col1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2
{
    align-self: flex-start;
}

.dial
{
    height: 25vw;
    aspect-ratio: 152/100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.dial svg
{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

.dial >div
{
    grid-row: 1/2;
    grid-column: 1/2;
}

.endoverlay
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    gap:2vw
}

.endrow1,.endrow2
{
    display: flex;
    height: 5vw;
    align-items: center;
    gap:1vw;
}

.endrow1 img,.endrow2 img
{
    height: 100%;
}

.endrow1 span,.endrow2 span
{
    font-size: 2.2vw;
    font-family: montserrat;
    color: white;
    font-weight: 900;
}

.end .img
{
    margin-left: 2vw;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 55vw;
}

.end .img1
{
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 55vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.end .img2
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 55vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    -webkit-box-reflect: below -4vw linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
    filter: grayscale(100%) blur(0.1vw);
    z-index: -1;
}

.bgd
{
    background-color: #353535;
    border-radius: 100vw;
    height: 5vw;
    width: 5vw;
    padding: 1vw;
}